@using WebApp.Helpers;
<script src="~/Scripts/Views/vDireccion.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.CtrlTable(viewName: "vDireccion", id: "tbl_Direccion", title: "Lista de Direcciones",
    columnsTitle:"PROVINCIA,CANTON,DISTRITO,NOMBRE", ColumnsDataName:"PROVINCIA,CANTON,DISTRITO,NOMBRE", onSelectFunction: "BindFields", colorHeader: "red")


<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Dirección</div>
                <div class="col-md-4">
                    @Html.CtrlButton(viewName: "vDireccion", id: "btnCreate", label: "Crear Dirección", onClickFunction: "Create", buttonType: "success")
                    @Html.CtrlButton(viewName: "vDireccion", id: "btnUpdate", label: "Guardar Cambios", onClickFunction: "Update", buttonType: "info")
                    @Html.CtrlButton(viewName: "vDireccion", id: "btnDelete", label: "Eliminar", onClickFunction: "Delete", buttonType: "danger")
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <form id="frmEdition">
                            @Html.CtrlInput(id: "txtProvincia", type: "text", label: "Provincia", columnDataName: "PROVINCIA")
                            @Html.CtrlInput(id: "txtCanton", type: "text", label: "Cantón", columnDataName: "CANTÓN")
                            @Html.CtrlInput(id: "txtDistrito", type: "text", label: "Distrito", columnDataName: "DISTRITO")
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Cedula", columnDataName: "NOMBRE")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

