@using WebApp.Helpers;
<script src="~/Scripts/Views/vLocalizacion.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.CtrlTable(viewName: "vLocalizacion", id: "tbl_Localizacion", title: "Lista de Localizaciones",
    columnsTitle:"idLocalizacion,cedula,tipoL,valor", ColumnsDataName:"idLocalizacion,cedula,tipoL,valor", onSelectFunction: "BindFields", colorHeader: "red")


<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Localización</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "vLocalizacion", id: "btnCreate", label: "Crear Localización", onClickFunction: "Create", buttonType: "success")
                @Html.CtrlButton(viewName: "vLocalizacion", id: "btnUpdate", label: "Guardar Cambios", onClickFunction: "Update", buttonType: "info")
                @Html.CtrlButton(viewName: "vLocalizacion", id: "btnDelete", label: "Eliminar", onClickFunction: "Delete", buttonType: "danger")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        @Html.CtrlInput(id: "txtidLocalización", type: "text", label: "Id Localización", columnDataName: "idLocalizacion")
                        @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cedula", columnDataName: "cedula")
                        @Html.CtrlInput(id: "txtTipoL", type: "text", label: "Tipo de Localización", columnDataName: "tipoL")
                        @Html.CtrlInput(id: "txtValor", type: "text", label: "Valor", columnDataName: "valor")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

